header {
  text-align: center;
  padding: 2em;
  border-bottom: 2px solid pink;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

footer {
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
