<!-- header -->
<header>
  <h1>
    <img
      src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png"
      alt="Wild Code School logo"
    />
    Les Argonautes
  </h1>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer>
  <span>Réalisé par Mathilde en Anthestérion de l'an 515 avant JC</span>
</footer>
