<div class="container">
  <h2>Ajouter un nouvel argonaute</h2>
  <form class="form" [formGroup]="argonauteForm">
    <mat-form-field>
      <label matLabel></label>
      <input matInput formControlName="name" placeholder="Son petit nom : " />
    </mat-form-field>

    <br />
    <button mat-raised-button color="warn" (click)="addArgonaute()">A l'abordage!</button>
  </form>
</div>
