.container {
  width: 400px;
  height: 200px;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

h2 {
  text-align: center;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
}

button {
  margin-left: 10px;
}
