<div class="container">
  <app-argonaute-form (reloadEvent)="getArgonautes()"></app-argonaute-form>
  <app-argonautes-list [argonautes]="argonautes" (reloadEvent)="getArgonautes()"></app-argonautes-list>
</div>
