<mat-dialog-content> Que voulez-vous faire de ce pauvre argonaute?</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>On le garde</button>

  <button mat-stroked-button color="warn" [mat-dialog-close]="true">Il quitte l'équipage!</button>
</mat-dialog-actions>
