ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  justify-content: space-between;
  width: 33%;
  padding-bottom: 5px;
}

.list {
  width: 400px;
  margin: auto;
}

h2 {
  text-align: center;
}

li:hover > .icon {
  display: flex;
}

.icon {
  font-size: 18px;
  color: rgb(224, 106, 126);
  cursor: pointer;
  display: none;
  padding-top: 2px;
}
