<div class="list">
  <h2>Membres de l'équipage :</h2>

  <ul class="argonautes">
    <li *ngFor="let argonaute of argonautes">
      <span> {{ argonaute.name }}</span>
      <mat-icon matSuffix (click)="deleteArgonaute(argonaute)" class="icon"> close </mat-icon>
    </li>
  </ul>
</div>
